{
    "presets": ["@babel/preset-env", "@babel/preset-react"],
    "env": {
        "production": {
            "plugins": [
                [
                    "babel-plugin-styled-components",
                    {
                        "ssr": false,
                        "displayName": false,
                        "fileName": false,
                        "minify": true
                    }
                ]
            ]
        },
        "development": {
            "plugins": [
                [
                    "babel-plugin-styled-components",
                    {
                        "ssr": false,
                        "displayName": true,
                        "fileName": false,
                        "minify": true
                    }
                ]
            ]
        }
    }
}
