{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true
  },
  "plugins": ["react"],
  "rules": {
    "no-plusplus": 0,
    "no-underscore-dangle": 0,
    "no-mixed-operators": 0
  },
  "extends": ["airbnb-base", "plugin:react/recommended"],
  "settings": {
    "import/resolver": "webpack"
  }
}
