.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html, body{
  margin: 0;
  padding: 0;
  background: #faf8ef;
  color: #776E65;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
}

#heading {
  margin-top: 1em;
}

.moves-container{
  text-align: right;
  float: right;
}
.moves{
  min-height: 2.5em;
  min-width: 5em;
  position: relative;
  background: #C0A58B;
  /*padding: 15px 25px; */
  font-size: 25px;
  height: 25px;
  line-height: 47px;
  font-weight: 700;
  border-radius: 3px;
  color: #fff;
  margin-top: 8px;
  text-align: center;
  float: right;
}


h1.title {

  font-size: 70px;
  font-weight: bold;
  margin: 0;
  display: block;
  float: left;
}

.txt{
  float: left;
}

/*toggle switch*/
.switch {
  position: relative;
  width: 60px;
  height: 34px;
  float: right;
  margin-right: 0.1em;
  margin-top: 3px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider.on {
  background-color: #8f7a66;
}

.slider.on::before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.restart-button {
  display: inline-block;
  background: #8f7a66;
  border-radius: 3px;
  padding: 0 20px;
  text-decoration: none;
  color: #f9f6f2;
  height: 40px;
  line-height: 42px;
  cursor: pointer;
  display: block;
  text-align: center;
  float: right;
  border: none;
  width: 125px;
}

.restart-button i {
  margin-left: 5px;
}

.dropdown{
  position: relative;
  display: block;
  float: right;
  margin-right: 0.1em;
}

.dropdown-menu{
  margin-top: 1px;
  position: absolute;
  display: none;
  min-width: 74px;
  background: #8F7A66;
}
  .dropdown-menu li a{
    cursor: pointer;
    text-decoration: none;
  }

.grid-button{
  display: inline-block;
  background: #8f7a66;
  border-radius: 3px;
  padding: 0 20px;
  text-decoration: none;
  color: #f9f6f2;
  height: 40px;
  line-height: 42px;
  cursor: pointer;
  display: block;
  text-align: center;
  float: right;
  border: none;
}

#board-container {
  position: relative;
  width: 420px;
  height: 520px;
  margin: 40px auto;
}

#board .board-row:nth-of-type(odd) > div:nth-child(odd){
  background-color: #D6E4D6;
  color: white;
  cursor: pointer;
}

#board .board-row:nth-of-type(odd) > div:nth-child(even){
  background-color: #C0A58B;
  color: black;
  cursor: pointer;
}

#board .board-row:nth-of-type(even) > div:nth-child(even){
  background-color: #D6E4D6;
  color: white;
  cursor: pointer;
}

#board .board-row:nth-of-type(even) > div:nth-child(odd){
  background-color: #C0A58B;
  color: black;
  cursor: pointer;
}

.red{
  filter: saturate(50%) brightness(63%);
  -webkit-filter: saturate(50%) brightness(63%);
}

.tile-4{
  width: 105px;
  height: 105px;
  float: left;
}

.tile-5{
  width: 84px;
  height: 84px;
  float: left;
}

.tile-6{
  width: 70px;
  height: 70px;
  float: left;
}

.tile-7{
  width: 60px;
  height: 60px;
  float: left;
}

.tile-8 {
  width: 52.5px;
  height: 52.5px;
  float: left;
}

.queen-4{
  width: 95px;
  height: 90px;
  float: left;
  margin: 0 5px;
}

.queen-5{
  width: 74px;
  height: 70px;
  float: left;
  margin: 0 5px;
}

.queen-6{
  width: 60px;
  height: 56px;
  float: left;
  margin: 0 5px;
}

.queen-7{
  width: 50px;
  height: 47px;
  float: left;
  margin: 0 5px;
}

.queen-8{
  width: 42px;
  height: 40px;
  float: left;
  margin: 0 5px;
}

.fade{
  opacity: 0.3;
}

.game-over {
  position: absolute;
  display: none;
  width: 100%;
  height: 420px;
  background: rgba(238, 228, 218, 0.73);
  animation: slide-up 1s ease-in-out 250ms forwards;
  opacity: 0;
}

.visible{
  display: block;
}

.game-over p {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin-top: 5%;
}

@keyframes slide-up {
  0% {
    margin-top: 75%;
    opacity: 0;
  }

  100% {
    margin-top: 0%;
    opacity: 1;
  }
}

.rating {
  text-align: center;
}

.star {
  color: #ffd700;
  font-size: 60px;
  position: relative;
  overflow: hidden;
  display: block;
  float: left;
  width: 33.3%;
}

.inactive {
  color: grey;
}

.new-game {
  display: inline-block;
  background: #8f7a66;
  border-radius: 3px;
  padding: 0 20px;
  text-decoration: none;
  color: #f9f6f2;
  height: 40px;
  line-height: 42px;
  cursor: pointer;
  text-align: center;
  border: none;
  margin-top: 10%;
}

hr{
  border-top: 1px solid #d8d4d0;
}

a {
  color: #776E65;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 500;
}

a:hover{
  color: #776E65;
}

@media screen and (max-width: 845px) {
  .github-corner {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

@media screen and (max-width: 555px) and (max-height: 640px) {
  .txt {
    display: none;
  }
}

@media screen and (max-width: 460px) {
  #board-container {
    margin-left: -1px !important;
  }
  h1.title {
    font-size: 50px !important;
  }
  #instructions {
    margin-top: 5px;
  }
  .txt {
    display: none;
  }
}